{{#extends 'base'}}

{{#block "content"}}
<form method="POST">
    <div>
       <label class="form-label">Food Name:</label>
       <input type="text" name="foodName" class="form-control" value="{{foodRecord.foodName}}"/>
   </div>     
   <div>
       <label class="form-label">Calories:</label>
       <input type="text" name="calories" class="form-control" value="{{foodRecord.calories}}"/>
   </div>
   <div>
       <label>Tags</label>
       <input class="mx-2" type="checkbox" name="tags" value="unhealthy" {{#inArray foodRecord.tags "unhealthy"}}checked{{/inArray}}/><span>Unhealthy</span>
       <input class="mx-2" type="checkbox" name="tags" value="vegan" {{#inArray foodRecord.tags "vegan"}}checked{{/inArray}}/><span>Vegan</span>
       <input class="mx-2" type="checkbox" name="tags" value="gluten-free" {{#inArray foodRecord.tags "gluten-free"}}checked{{/inArray}}/><span>Gluten-free</span>
   </div>
    <input type="submit" value="Update Food" class="btn btn-primary my-3"/>
</form>

{{/block}}

{{/extends}}