{{#extends 'base'}}

{{#block 'content'}}
<h1>Edit note</h1>
<form method="POST">
    <div>
        <label class="form-label">Note</label>
        <textarea class="form-control" name="content">{{note.content}}</textarea>
    </div>
    <input type="submit" value="Update Note" class="btn btn-primary my-3"/>
</form>

{{/block}}

{{/extends}}